# System
.DS_Store

# Editors
*.sublime-workspace

# logs
npm-debug.log

# dependencies
node_modules

# build
.next
.tmp
dist

# dependencies
node_modules

# logs
npm-debug.log

# coverage
.nyc_output
coverage

# editors
.idea/*
*.iml
*.sublime-*

# OS
.DS_Store
